header {
  max-width: 1170px;
  margin: 0 auto;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.header__nav__account {
  display: flex;
}

.buttonAndLink {
  width: 100px;
  min-height: 34px;
  border-radius: 80px;
  background-color: #f4e041;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 10px;
  color: #000000;
}
.buttonAndLink:hover {
  transform: translateY(-2px);
  opacity: 0.8;
}

/* ====== */
.header__promo-wraper {
  width: 100%;
  min-height: 650px;
  background-image: url(../../style/img/Rectangle29.png);
  background-repeat: no-repeat;
  margin-top: 17px;
}

.header__promo {
  width: 380px;
  margin: 0 auto;
  padding: 164px 0;
  text-align: center;
  color: white;
}

.header__promo__top {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 21px;
  line-height: 40px;
}

.header__promo__bottom {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 26px;
}
.header__promo__button {
  margin: 0 auto;
}
